/* место для вашего кода */
.header {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 92px;
    padding-bottom: 94px;
    display: grid;
    grid-template-columns: 4fr 1fr 4fr;
    align-items: center;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #000;
}

.header__nav__menu {
    display: flex;
    justify-content: center;
}

.header__nav__menu__item {
    padding-right: 31px;
    letter-spacing: 0.01em;
    list-style: circle;
}

.header__nav__menu__item__first {
    padding-right: 31px;
    padding-left: 22px;
    letter-spacing: 0.01em;
    list-style: none;
}


.nav__menu__item__active-link {
    text-decoration: none;
}

.header__logo {
    width: 100%;
}

.header__logo__image {
    display: flex;
    width: 148px;
}

.header__address {
    line-height: 135%;
    justify-content: center;
    padding-left: 184px;
}

.cover {
    display: inline-block;
    position: relative;
    background-image: url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 757px;
    width: 1100px;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
}
 
.cover__content {
    position: absolute ;
    top: 165px;
    padding-left: 50px;
    width: 100%;
}

.cover__title
{
    font-weight: 700;
    font-size: 100px;
    line-height: 100%;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: #fff;
}

.cover__title-first_line {
    line-height: 115%;
}

.cover__title-second_line {
    line-height: 100%;
    display: block;
    text-align: center;
    padding-top: 20px;
    padding-right: 50px;
}

.cover__title-fird_line {
    display: block;
    text-align: right;
    padding-right: 15px;
    line-height: 100%;
}


.cover__title-space {
    letter-spacing: 0.6em;
}

.cover__description {
    padding-left: 75px;
    position: absolute ;
    bottom: 49px;
    display: grid;
    grid-template-columns: 8fr 3fr;
   align-items: center;
}

.cover__description-text {
    font-weight: 400;
    font-size: 22px;
    line-height: 127%;
    text-transform: uppercase;
    color: #fff;
    word-spacing: 0.88em;
}

.bet-button {
    width: 256px;
    height: 51px;
    font-weight: 500;
    font-size: 22px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    background-color: transparent;
    border-color: #fff;
    margin-left: 10px;
}

.lots {
    margin-top: 179px;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 146px;
    position: relative;
}

.lots__heading { 
padding-left: 40px;
font-weight: 700;
font-size: 40px;
text-transform: uppercase;
color: #000;
}

.lots__card-list {
    
    margin-top: 25px;
    list-style: none;
    display: flex;
    gap: 25px;
    position:relative;
    margin-bottom: 30px;
}

.lots__article {
    width: 334px;
    height: 100%;
}

.lots_description {
    padding-left: 40px;
    padding-right: 40px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.lots_annotation {
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    margin-bottom:48px;
    color: #fff;
}   

.lots__lot__title {
    padding-top: 51px;
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #fff;
}

.lot_image {
  position: relative;
  height: 100%;
  object-fit: cover;
  z-index: -2;

}
.lot__link {
    position: relative;
    text-decoration: none;
}

.overlay__card {
    background-color: rgba(0, 0, 0, 0.6);
    width: 334px;
    height: 100%;
    position: absolute;
    top: 0px;
    z-index: -1;
}

.lots__list__more {
    font-weight: 400;
    font-size: 20px;
    color: #000;
    padding-left: 40px;
}

.lot__list__item {
    min-height: 560px;
}

.about {
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 180px;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.about__logo {
    width:240px;
    height: 240px;
    border-radius: 50%;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 35px;
    margin-left: 47px;
}

.about__logo__image {
    width:148px;
}
.about__title{
    margin-top: 136px;
    padding-left: 10px;
    padding-bottom: 110px;
}

.about__content {
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.001em;
    color: #000;
    padding-left: 10px;
}

.about__content__annotation {
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: #000;
    padding-left: 10px;
}
.footer__main
{
    display:flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 88px;
}

.footer__address {
    font-weight: 400;
    font-size: 18px;
    line-height: 135%;
    color: #000;
}

.footer__nav__menu {
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    padding-left: 45px;
    color: #000;
}
.footer__social__media {
    width: 240px;
    display: flex;
    justify-content: space-between;
}
.footer__social__media-ico {
    width: 48px;
}