/* место для вашего кода */
.header {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 91px;
    padding-bottom: 93px;
    display: grid;
    grid-template-columns: 4fr 1fr 4fr;
    align-items: center;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #000;
}

.inline__list {
    display: flex;
    justify-content: center;
}

.header__nav__menu__item {
    padding-right: 33px;
    padding-top: 4px;
    letter-spacing: 0.01em;
    list-style: circle;
}

.unbullited__list_item {
    padding-right: 31px;
    padding-top:5px;
    padding-left: 20px;
    letter-spacing: 0.001em;
    list-style: none;
}

.active__link {
    text-decoration: none;
}

.header__logo {
    width: 100%;
}

.header__logo__image {
    display: flex;
    width: 135px;
    height: 107px;
}

.interactive__link {
    text-decoration: underline;
    text-underline-offset: 4px;
}

.header__address {
    line-height: 136%;
    padding-top: 3px;
    padding-left: 193px;
    font-style: normal;
    margin-right: 30px;
}

.cover {
    position: relative;
    background-image: url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 1100px;
    z-index: 0;
    padding-bottom: 50px;
}

.overlay {
    position: absolute;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    z-index: -1;
}

.cover__heading {
    padding-left: 50px;
    padding-right: 50px;
    width: 100%;
    vertical-align: middle;
    padding-top: 164px;
    padding-bottom: 136px;
}

.cover__heading__main {
    font-weight: 700;
    font-size: 100px;
    line-height: 100%;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: #fff;
}

.cover__heading__special__hight__space {
    line-height: 118%; 
    letter-spacing: 0.25em;
}

.cover__heading__align__center {
    display: block;
    text-align: center;
    line-height: 138%; 
}

.cover__heading__align__right {
    display: block;
    text-align: right;
}

.cover__heading__increase__space {
    letter-spacing: 0.6em;
}

.cover__description {
    padding-left: 78px;
    padding-right: 39px;
    display: grid;
    grid-template-columns: 8fr 3fr;
    align-items: center;
}

.cover__description-text {
    font-weight: 400;
    font-size: 22px;
    line-height: 127%;
    text-transform: uppercase;
    color: #fff;
    word-spacing: 0.85em;
}

.cover__description-text__increase__spacing {
    letter-spacing: 1.1em;
}

.bet-button {
    width: 257px;
    height: 52px;
    font-family:  "Raleway", sans-serif;
    font-weight: 500;
    font-size: 22px;
    word-spacing: 0.0em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    letter-spacing: 0.001em;
    background-color: transparent;
    border-color: #fff;
}

.lots {
    margin-top: 179px;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 148px;
    position: relative;
}

.sub__heading {
    padding-left: 40px;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    color: #000;
}

.lots__card-list {
    margin-top: 28px;
    list-style: none;
    display: flex;
    gap: 25px;
    position:relative;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.lots__article {
    width: 334px;
    height: 100%;
}

.lots_description {
    padding-left: 40px;
    padding-right: 40px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.lots_annotation {
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    margin-bottom:48px;
    color: #fff;
} 

.lots_annotation__increase_space {
    letter-spacing: 0.13em;
}

.lots__lot__title {
    padding-top: 50px;
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    text-transform: uppercase;
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-skip-ink: none;
    color: #fff;
}

.lot_image {
    position: absolute;
    top: 0px;
    height: 100%;
    object-fit: cover;
    z-index: -1;

}

.lot__link {
    position: relative;
    text-decoration: none;
}


.lots__list__more {
    font-weight: 400;
    font-size: 20px;
    color: #000;
    padding-left: 40px;
}

.lot__list__item {
    /*тут не совсем понял, высота по макету 563px, у меня 2 вероятные ошибки были - 560px (исправил), а вторая скорее вопрос - использование min-height, а не hight - корректно? 
    Если много текста - карточка подрастет в высоту*/
    min-height: 563px;
}

.about {
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 181px;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.about__logo {
    width:240px;
    height: 240px;
    border-radius: 50%;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 34px;
    margin-left: 47px;
}

.about__logo__image {
    width:148px;
}

.about__title {
    margin-top: 135px;
    padding-left: 9px;
    padding-bottom: 100px;
}

.reset__spacing {
    letter-spacing: 0.0em;
}

.about__content__increase__spacing {
    letter-spacing: 0.02em;
}

.about__content__decrease__spacing {
    letter-spacing: -0.01em;
}

.about__content__more__increase__spacing {
    letter-spacing: 0.03em;
}

.about__content__article {
    display: flex;
    flex-direction: column;
    gap: 24px;

}
.about__content {
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: #000;
    padding-left: 9px;
}

.content__increase__spacing {
    letter-spacing: 0.01em;
}

.about__content__annotation__more__increase__spacing {
    letter-spacing: 0.04em;
}

.footer__main {
    padding-bottom: 88px;
    display: grid;
    grid-template-columns: 4fr 3fr 4fr;
    align-items: top;
    margin-left: 50px;
    margin-right: 50px;
}

.footer__address {
    font-weight: 400;
    font-size: 18px;
    line-height: 136%;
    color: #000;
    font-style: normal;
    padding-right: 130px;
}

.footer__nav__menu {
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    padding-left: 20px;
    line-height: 85%;
    color: #000;
}

.footer__list {
    padding-left: 130px;
    list-style: none;
    display: flex;
    gap: 48px;
}

.footer__social__media-ico {
    width: 48px;
}