/* место для вашего кода */
.header__logo{
    display: block;
    width: 148px;
}

.header__logo__image{
    width: 100%;
    
}

.header__nav{
   

}

.header__nav__menu{
    list-style: circle;
    display: flex;
    
    
}

.header__nav__menu__item{
   
    padding-right: 31px;
    
}

.header__nav__menu__item-item{
   
    text-decoration: none;
    
}